<div class="row">
    <!-- Overdue Panel -->
    <div class="col-lg-6">
    {% if overdue_medical %}
        <div class="panel panel-danger">
    {% else %}
        <div class="panel panel-success">
    {% endif %}
            <div class="panel-heading">
                <h3 class="panel-title">Overdue medical examinations</h3>
            </div>
            {% if overdue_medical %}
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Last medical</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for athlete in overdue_medical %}
                        <tr>
                            <td>{{ athlete.first_name }}</td>
                            <td>{{ athlete.last_name }}</td>
                            <td>{{ athlete.last_medical|date:'SHORT_DATE_FORMAT' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="panel-body">
                    There are no overdue medical examinations
                </div>
            {% endif %}
        </div>
    </div>
</div>