{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block css %}
    <link href="{% static "admin/css/login.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-6" >
                <div class="card" style="margin-top: 100px;">
                    <h5 class="card-header" style="text-align: center;">
                        Swim Team Manager Login
                    </h5>
                    <div class="card-body">
                        {% if next %}
                            <div class="alert alert-danger" role="alert">
                            {% if user.is_authenticated %}
                                {% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
                            {% else %}
                                {% trans 'Please login to see this page.' %}
                            {% endif %}
                            </div>
                        {% endif %}

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% bootstrap_form form show_label=False %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            {% trans "Login" as login %}
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans 'Login' %}" />
                        </form>


                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}