{% extends 'base_backend.html' %}
{% load static %}
{% load form_extras %}

{% block content %}
    <!-- First data block -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ title }}</h1>
        </div>
    </div>
    <!-- Start Athlete table -->
    <div class="row">
        <div class="col-lg-12">
            <form action="{{ request.get_full_path }}" method="post" id="user_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Basic Data</h3>
                    </div>
                </div>
                <!-- Username / Mail -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group {{ form.username.errors|yesno:"has-error," }}">
                            <label class="control-label" for="{{ form.username.id_for_label }}">Username:</label>
                            <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}" {{ fix_username|yesno:"readonly," }}>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group {{ form.mail.errors|yesno:"has-error," }}">
                            <label class="control-label" for="{{ form.mail.id_for_label }}">Mail Address:</label>
                            <input type="email" class="form-control" id="{{ form.mail.id_for_label }}" name="{{ form.mail.html_name }}" value="{{ form.mail.value|default_if_none:"" }}">
                        </div>
                    </div>
                </div>
                <!-- First Name / Name -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group {{ form.first_name.errors|yesno:"has-error," }}">
                            <label class="control-label" for="{{ form.first_name.id_for_label }}">First Name:</label>
                            {{ form.first_name|b_text }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group {{ form.last_name.errors|yesno:"has-error," }}">
                            <label class="control-label" for="{{ form.last_name.id_for_label }}">Last Name:</label>
                            {{ form.last_name|b_text }}
                        </div>
                    </div>
                </div>
                <!-- Rights -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group {{ form.group.errors|yesno:"has-error," }}">
                            <label class="control-label" for="{{ form.group.id_for_label }}">Group:</label>
                            <select class="form-control" id="{{ form.group.id_for_label }}" name="{{ form.group.html_name }}">
                                {% for choice in form.group.field.choices %}
                                    <option value="{{ choice.0 }}"
                                        {% if form.group.value == choice.0 %}selected="selected"{% endif %}>
                                    {{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% block password_content %}

                {% endblock %}

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
