{% extends 'base_backend.html' %}
{% load static %}
{% load athlete_extras %}
{% load i18n %}

{% block css %}
     <!-- Datepicker CSS -->
    <link href="{% static "datePicker/css/bootstrap-datepicker3.standalone.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- First data block -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ title }}</h1>
        </div>
    </div>
    <!-- Start Athlete table -->
    <div id="error_alert" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
        <button type="button" class="close" aria-label="Close" onclick="$(this).parent().hide();"><span aria-hidden="true">&times;</span></button>
        <strong>{% trans 'Error:' %}</strong> <span id="errorMsg"></span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <table class="table table-responsive" id="mainTable">
                    <thead>
                        <tr>
                            <th>{% trans 'First Name' %}</th>
                            <th>{% trans 'Last Name' %}</th>
                            <th>{% trans 'Last medical' %}</th>
                            <th>{% trans 'Update date' %}</th>
                        </tr>
                    </thead>
                    {% include "team_manager/ajax_parts/medical_table_body.html" %}
                </table>
            </div>
        </div>
    </div>


    <!-- Modal Dialog - Update Athlete Medical Date -->
    <div class="modal fade" id="athleteMedical" tabindex="-1" role="dialog" aria-labelledby="athleteMedicalLabel">
        <div class="modal-dialog" role="document">
            <form id="changeMedicalDateForm" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="athleteDelete">{% trans 'Update Date of Medical Examination' %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="dateFormGroup">
                            <label for="inputDate" class="col-sm-2 control-label">{% trans 'Date:' %}</label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" id="inputMedicalDate" name="medicalDate">
                            </div>
                        </div>
                        <input type="hidden" id="athleteMedicalUserId" value="" name="userId">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" class="btn btn-success" id="deleteButton">{% trans 'Update date' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <!-- Datepicker JS -->
    <script src="{% static "datePicker/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "datePicker/js/bootstrap-datepicker.de.min.js" %}"></script>

    <!-- BlockUI -->
    <script src="{% static "base/js/jquery.blockUI.js" %}"></script>

    <script>
        /**
         * Function to show the change medical date dialog
         * @param user_id
         * @param src
         */
        function showChangeMedical(user_id, current_date, src) {
                var modal = $("#athleteMedical");

                //Set the athlete id
                modal.find("#athleteMedicalUserId").val(user_id);
                modal.find('#inputMedicalDate').datepicker('update', current_date);

                //Show the modal
                modal.modal('show');
            }


        /**
         * Called when side is loaded
         */
        $(function () {
            /**
             * Add Calendar widget in form
             */
            $('#inputMedicalDate').datepicker({
                format: "dd.mm.yyyy",
                language: "de",
                autoclose: true,
                todayHighlight: true,
                maxViewMode: 3,
                orientation: "bottom auto",
            });

            /**
             * Handle the form for the change medical date
             */
            $("#changeMedicalDateForm").submit(function(e) {

                //Set the variables
                var modal = $("#athleteMedical");

                //Prevent form handling
                e.preventDefault();

                //Block the dialog
                modal.block({message: null});

                //Make the ajax call
                $.ajax({
                        type: "POST",
                        url: "{% url 'TeamManager:athleteMedicalUpdate' %}",
                        data: {
                           last_medical: this.medicalDate.value,
                           user_id: this.userId.value,
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(data)
                        {
                            $("#medicalTableBody").replaceWith(data);

                        },
                        error: function (error) {
                            $("#error_alert").find("#errorMsg").html(error.responseText);
                            $("#error_alert").show();
                        },
                        complete: function () {
                            modal.unblock();
                            modal.modal('hide');
                        }
                    });
            });
        });
    </script>


{% endblock %}