.btn-link-sm {
    padding: 0px;
    border-width: 0px;
}

.btn-link-sm:focus {
    outline: none;
}

.well-table-footer {
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-group-table-footer {
    margin-bottom: 0px;
}